/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
  }
  /* montserrat-800 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin_cyrillic-800.woff') format('woff'); /* Modern Browsers */
  }

*{
    box-sizing: content-box;
    font-family: 'Montserrat';
}

body{
    background: #ffffff;
    min-width: 1920px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

input::placeholder{
    padding-top: 14px;
    padding-left: 24px;
    color: #CACACA;
}

textarea::placeholder{
    padding-top: 14px;
    padding-left: 24px;
    color: #CACACA;
}

.Conteiner__Header{
    max-width: 1920px;
    margin: 0 auto;
}

.Conteiner__section{
    margin: 0 auto;
    max-width: 1770px;
}

.Titel{
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
}

.Discription{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;

}

.caption{
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.btn{
    background: #FF9900;
    border-radius: 16px;
    padding: 25px 39px ;
    color: #FFFFFF;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(110%);
    cursor: pointer;
    background: #FFB84D;
}



.nav{
    display: flex;
    justify-content: space-between;
    width: 1920px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
}

.logo{
    width: 225px;
    height: 72px;
}

.nav__logo{
    margin-left: 75px;
    margin-top: 14px;
}

.nav_list{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: auto;
    margin-right: 260px;
}

.nav__item{
    transition: color 0.2s ease-in-out;
}

.nav__item:hover{
    color: #FF9900;
    cursor: pointer;
}

.nav__item:active{
    color: #E1670E;
    cursor: pointer;
    transform: translateY(1px);
}


.nav__item:not(:last-child){
    margin-right: 85px;
}

.nav__icon{
    margin: auto 0;
    margin-right: 75px;
    margin-top: 38px;
}

/* HERO */

.Hero__Slider{
    width: 1770px;
    min-height: 620px;
    margin-top: 50px;
    background-image: url(/img/low-angle-photo-of-balconies-2462015\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.Hero__Titel{
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 853px;
    padding-bottom: 24px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.Hero__Discription{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-left: 80px;
    padding-bottom: 115px;
    margin-right: 900px;
    color: #FFFFFF;
}

.Hero__btn{
    margin-left: 80px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
}


/* O-nas */

.O-nas{
    margin-top: 50px;
}

.O-nas__Titel{
    margin-bottom: 20px;
}


.O-nas__Discription{
    max-width: 1235px;
    min-height: 192px;
}

.O-nas__box{
    display: flex;
    margin-top: 50px;
}

.box__left-box{
    display: flex;
    align-items: flex-end;
    width: 868px;
    min-height: 622px;
    background-image: url(/img/Rectangle\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
}

.left-box__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 868px;
    min-height: 196px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

.left-box__Discription{
    width: 433px;
    min-height: 96px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.left-box__btn{
    display: flex;
    align-items: center;
    padding: 20px 38px;
    margin-right: 88px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    outline: 3px solid #FF9900;
    background: rgba(0, 0, 0, 0);
}

.box__right-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
}

.wrapper__item{
    display: flex;
    max-width: 870px;
    height: 295px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 32px;
    transition: transform 0.3s ease-in-out;
}

.wrapper__item:hover{
    transform: scale(105%);
}

.wrapper__img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 190px;
    height: 165px;
    display: inline-block;
    margin-left: 60px;
    margin-top: 65px;
}

.img_one{
    background-image: url(/img/Frame\ 16.png);
}

.img_two{
    background-image: url(/img/Frame\ 12.png);
}

.wrapper__text-block{
    display: flex;
    flex-direction: column;
    width: 452px;
    min-height: 128px;
    margin-top: 65px;
    margin-right: 118px;
    margin-left: 50px;
    margin-bottom: 65px;
}

.wrapper__discription{
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

/* How-we-working */

.How-we-working{
    margin-top: 100px;
}

.How-we-working__Titel{
    margin-bottom: 50px;
}

.How-we-working__list{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 45px;
}

.How-we-working_item{
    transition: color 0.2s ease-in-out;
}

.How-we-working_item:hover{
    color: #FF9900;
    cursor: pointer;
}

.How-we-working_item:focus{
    outline: 1px solid #FF9900;
}

.How-we-working_item:active{
    color: #E1670E;
    transform: translateY(1px);
}




.How-we-working_item:not(:last-child){
    margin-right: 85px;
}


.How-we-working__caption{
    margin-bottom: 8px;
}

.How-we-working__Discription{
    width: 758px;
    min-height: 352px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.How-we-working__btn-more{
    margin-top: 18px;
    margin-right: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
}

.How-we-working__btn-contract{
    background-color: white;
    color: #000000;
    border: #000000 1px solid;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.How-we-working__img{
    width: 870px;
    height: 460px;
    border-radius: 32px;
    background-image: url(/img/Rectangle\ 18.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.How-we-working__Box{
display: flex;
}

.How-we-working__right-box{
    display: flex;
    margin-left: 142px;
    align-items: flex-end;
}

/* FAQ */

.faq{
    margin-top: 100px;
    margin-bottom: 100px;
}

.faq__Titel{
    margin-bottom: 32px;
}

.faq__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;  
    color: #000000;
    padding-top: 39px;
    padding-bottom: 39px;
    border-top: solid 1px #CACACA;
    border-bottom: solid 1px #CACACA;
}

.circl-img{
    width: 50px;
    height: 50px;
    background-image: url(/img/+х.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
}

.circl-img:hover{
    transform: rotate(180deg) scale(110%);
}

/* footer */

.Conteiner__footer{
    display: flex;
    justify-content: space-between;
    width: 1920px;
    margin: 0 auto;
    min-height:  594px;
    background: #000000;
}

.footer__left{
    position: relative;
    width: 252px;
    height: 494px;
    padding-top: 50px;
    padding-left: 75px;
}


.footer__logo{
    margin-bottom: 20px;
}

.footer__left__list{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #CACACA;
}

.footer__left__item{
    margin-bottom: 15px;
}

.footer__left__icon{
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.footer__icon-list{
    display: flex;
    position: absolute;
    bottom: 0;
    
}

.footer__left__icon-od{
    background-image: url(/img/ok.png);
}

.footer__left__icon-vk{
    background-image: url(/img/vk\ \(1\).svg);   
}

.footer__mid{
    margin-top: 50px;
    width: 570px;
    min-height: 494px;
}

.mid__Titel{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.Input{
    height: 60px;
    width: 570px;
    background: #414141;
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 25px;
    border-style: none;
}

.Input__text{
    height: 150px;
    width : 570px;
    /* padding: 14px 24px; */
    resize: none;
}

.Input__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    padding: 19px 52px;
}

.Input__check{
    margin-left: 10px;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    background-color: #000000;
}

.input-text-check{
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #CACACA;
}

.footer__right{
    width: 363px;
    height: 320px;
    margin-top: 137px;
    margin-right: 75px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}
    
